{% include "django/forms/widgets/textarea.html" %}
<div><div id="viewer"></div></div>

<script language="javascript" type="text/javascript">
function latexPlugin() {
    const toHTMLRenderers = {
        latex(node) {
            const html = katex.renderToString(node.literal);

            return [
                { type: 'openTag', tagName: 'div', outerNewLine: true },
                { type: 'html', content: html },
                { type: 'closeTag', tagName: 'div', outerNewLine: true }
            ];
        }
    }
    return { toHTMLRenderers };
}


const { Editor } = toastui;
const { chart, codeSyntaxHighlight, colorSyntax, tableMergedCell } = Editor.plugin;

const editor = toastui.Editor.factory({
    el: document.querySelector('#viewer'),
    viewer: true,
    initialValue: '',
    usageStatistics: false,
    mathSupport: true,
    plugins: [[chart, {maxWidth:750, maxHeight:500}], [codeSyntaxHighlight, {highlighter: Prism}], colorSyntax, tableMergedCell, latexPlugin],
});


function body_onload() {            

    var text = document.getElementById("{{ widget.attrs.id }}").value;
    editor.setMarkdown(text);
    return true;
}
</script>